<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Organism</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Edit Species Information</h1>

    <form method="POST" action="/organisms/<%=organism._id%>?_method=PUT">
        <div>
            <label for="name">Species Name</label>
            <input type="text" name="name" id="name" value="<%=organism.name%>" />
        </div>

        <div>
            <label for="category">Classification</label>
            <select name="category" id="category">
                <option value="plants" <% if(organism.category === 'plants') { %>selected<% } %>>Plant</option>
                <option value="animals" <% if(organism.category === 'animals') { %>selected<% } %>>Animal</option>
                <option value="fungi" <% if(organism.category === 'fungi') { %>selected<% } %>>Fungi</option>
                <option value="bacteria" <% if(organism.category === 'bacteria') { %>selected<% } %>>Bacteria</option>
            </select>
        </div>

        <div>
            <label for="habitat">Habitat</label>
            <textarea id="habitat" name="habitat" rows="5"><%=organism.habitat%></textarea>
        </div>

        <div>
            <label for="location">Location</label>
            <textarea id="location" name="location" rows="5"><%=organism.location%></textarea>
        </div>

        <fieldset>
            <legend id="classification">Classification</legend>
            <div>
                <label for="domain">Domain:</label>
                <input type="text" name="domain" id="domain" value="<%= organism.domain %>">
            </div>
            <div>
                <label for="kingdom">Kingdom:</label>
                <input type="text" name="kingdom" id="kingdom" value="<%= organism.kingdom %>">
            </div>
            <div>
                <label for="phylum">Phylum:</label>
                <input type="text" name="phylum" id="phylum" value="<%= organism.phylum %>">
            </div>
            <div>
                <label for="class">Class:</label>
                <input type="text" name="class" id="class" value="<%= organism.class %>">
            </div>
            <div>
                <label for="order">Order:</label>
                <input type="text" name="order" id="order" value="<%= organism.order %>">
            </div>
            <div>
                <label for="family">Family:</label>
                <input type="text" name="family" id="family" value="<%= organism.family %>">
            </div>
            <div>
                <label for="genus">Genus:</label>
                <input type="text" name="genus" id="genus" value="<%= organism.genus %>">
            </div>
            <div>
                <label for="species">Species:</label>
                <input type="text" name="species" id="species" value="<%= organism.species %>">
            </div>
        </fieldset>

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>