<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species Details</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/organism.css">
</head>
<body>
    <%- include('../partials/nav') %>

    <h1><%= organism.name %></h1>
    <sub>Category: <%= organism.category %></sub>

    <section>
        <fieldset>
            <legend><h3>The Taxonomy</h3></legend>
            <p>Domain: <%= organism.domain %></p>
            <p>Kingdom: <%= organism.kingdom %></p>
            <p>Phylum: <%= organism.phylum %></p>
            <p>Class: <%= organism.class %></p>
            <p>Order: <%= organism.order %></p>
            <p>Family: <%= organism.family %></p>
            <p>Genus: <%= organism.genus %></p>
            <p>Species: <%= organism.species %></p>
        </fieldset>
    </section>

    <section>
        <h3>Habitat</h3>
        <p><%= organism.habitat %></p>

        <h3>Location</h3>
        <p><%= organism.location %></p>
    </section>

    <section>
        <% if(organism.images.length) {%> <% organism.images.forEach( image => { %>
        <div style="width: 400px">
          <img
            src="<%= image.imageUrl %>"
            alt="Image of <%=organism.name%> uploaded by <%= image.uploadedBy  %>"
            style="width: 100%"
          />
          <p>Uploaded by: <%= image.uploadedBy %></p>
        </div>
        <% }) %> <% } else { %>
        <h5>No Images Yet</h5>
        <% } %>
      </section>

    <section>
        <h2>Upload an image of this species!</h2>
        <form method="POST" action="/organisms/<%=organism._id%>/images">
          <div>
            <!-- label + input for: imageUrl  -->
            <label for="imageUrl">Uploaded Image (URL) ***</label>
            <input id="imageUrl" type="text" name="imageUrl" />
          </div>
          <div>
            <!-- label + input for: uploadedBy  -->
            <label for="user-upload">Your Name</label>
            <input id="user-upload" type="text" name="uploadedBy" />
          </div>
          <!-- TODO: adding a description field to form and schema -> use the description of the image to set an alt tag for the images  -->
          <button type="submit">UPLOAD IMAGE</button>
        </form>
    </section>
    <section>
        <a href="/organisms/<%= organism._id%>/editDoc">Edit Findings</a>
    </section>
    <form method="POST" action="/organisms/<%=organism.id%>?_method=DELETE"> <button type="submit">Delete This Speciemen</button></form>
</body>
</html>
